* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.carousel-container {
  margin: 0px 0; /* adjust top and bottom margin as needed */
}

.carousel {
  position: relative;
  width: 60%;
  height: 300px; /* Sesuaikan tinggi sesuai kebutuhan */
  margin: 0 auto; /* Mengatur posisi carousel di tengah */
}


.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%; /* Mengatur posisi vertikal ke tengah */
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: -25px;
}

.prev {
  left: 30px;
}

.next {
  right: 30px;
}

h1{
  font-family: "Alfa Slab One", serif;
  font-weight: 100;
  font-style: normal;
  color: white;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 20px; 
  background-image: url("https://2.bp.blogspot.com/-6mcpYpvdSK0/XOYI2E3wbCI/AAAAAAAAEi0/V3edeXYcTbY6auorRQlNL8p11ragCUD2ACLcBGAs/s1600/violet-door.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}


div {
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* ensure footer stays at the bottom */
}
.button{
  padding: 10px 20px;
  background-color: rgb(39, 111, 204);
  color: #fff;
  border-radius: 5px;
}