/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 20;
}

header {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20220111/pngtree-background-biru-polos-keren-hd-vector-image_982123.jpg");
    padding: 20px;
    text-align: center;
    letter-spacing: 10px;
}

.features {
    padding: 50px 20px;
    text-align: center;
}

.features h2 {
    color: #333;
}

.features ul {
    list-style-type: none;
}

.cta {
    background-color: #007bff;
    color: #fff;
    padding: 50px 5px;
    text-align: center;
}

.cta button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

  